<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/styles.css">
  <title>RestApiServer</title>
</head>
<body>
<!-- div centered both horizontally and vertically -->
<div style="position: absolute; left: 50%; top: 50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%);" class="centered">
  <button id ="tog" type="button" onclick="toggleDarkmode()">OFF</button>
  <!--button to redirect to the sensor display page-->
  <button type="button" onclick="window.location.href='/sensordata'">Sensor Data</button>
  </div>  
<script>
  let toggle = () => {
    let fetchRes = fetch('/get_pin');
    fetchRes.then(res =>
      res.json()).then(data => {
          console.log(data);
          if (data.pin_status == 1) {
          document.getElementById('tog').innerHTML = 'ON';
          document.getElementById('tog').style.backgroundColor = '#00ff00';
          }
          if(data.pin_status == 0) {
              document.getElementById('tog').innerHTML = 'OFF';
              document.getElementById('tog').style.backgroundColor = '#ff0000';
          }
      });
  }
  const toggleDarkmode = () => {
    console.log('clicked');
    let fetchRes = fetch('/update_pin');
    fetchRes.then(res =>
      res.text()).then(d => {
          console.log(d);
          toggle();
      });
    }
  setInterval(toggle, 500);
</script>
</body>
</html>